html, body {
  width: 100px;
}

.button {
  margin: auto;
  padding: 4px;
  text-align: center;
  font-size: 1.2em;
  background-color: #D3D3D3;
  cursor: pointer;
}

.button:hover {
  background-color: #808080;
}
